@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
}
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content .ql-snow .ql-editor h2,
.entry-content .ql-snow .ql-editor h3,
.entry-content .ql-snow .ql-editor h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
.entry-content h2,
.entry-content .ql-snow .ql-editor h2 {
  font-size: 32px;
}
.entry-content h3,
.entry-content .ql-snow .ql-editor h3 {
  font-size: 26px;
}
.entry-content h4,
.entry-content .ql-snow .ql-editor h4 {
  font-size: 22px;
}
.entry-content p,
.entry-content .ql-snow .ql-editor p {
  margin-bottom: 20px;
  line-height: 2;
}
.entry-content figure,
.entry-content .ql-snow .ql-editor figure {
  margin-bottom: 20px;
}
.entry-content figure img,
.entry-content .ql-snow .ql-editor figure img {
  border-radius: 20px;
  margin-bottom: 10px;
}
.entry-content figcaption,
.entry-content .ql-snow .ql-editor figcaption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #6b6b6b;
}
.entry-content ul,
.entry-content .ql-snow .ql-editor ul {
  list-style-type: disc;
}
.entry-content ol,
.entry-content .ql-snow .ql-editor ol {
  list-style: decimal;
}
.entry-content ul,
.entry-content ol,
.entry-content .ql-snow .ql-editor ul,
.entry-content .ql-snow .ql-editor ol {
  margin-bottom: 20px;
  padding-left: 40px;
  margin-left: 0;
}
.entry-content ul li,
.entry-content ol li,
.entry-content .ql-snow .ql-editor ul li,
.entry-content .ql-snow .ql-editor ol li {
  margin-bottom: 10px;
}
.entry-content img,
.entry-content .ql-snow .ql-editor img {
  border-radius: 8px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023.98px) {
  .entry-content,
.entry-content .ql-snow .ql-editor {
    font-size: 14px;
  }
  .entry-content h2,
.entry-content .ql-snow .ql-editor h2 {
    font-size: 26px;
  }
  .entry-content h3,
.entry-content .ql-snow .ql-editor h3 {
    font-size: 24px;
  }
  .entry-content h4,
.entry-content .ql-snow .ql-editor h4 {
    font-size: 20px;
  }
}

@layer base {
  body {
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: #a4d96c;
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grid-layout::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .grid-layout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
}
@media screen and (max-width: 1023.98px) {
  .grid-layout {
    grid-auto-flow: column;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
}
.grid-layout > * {
  scroll-snap-align: start;
}
.grid-layout--primary {
  grid-auto-columns: 220px;
}
@media screen and (min-width: 1024px) {
  .grid-layout--primary {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.home-block {
  padding-top: 40px;
}
@media screen and (min-width: 1024px) {
  .home-block {
    padding-top: 60px;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}

.quill {
  position: relative;
}
.quill .ql-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}/*# sourceMappingURL=index.css.map */